* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanc: #FFFFFF;
    --pomme: #E2FCEF;
    --pomme_granny: #EDFEF6;
    --correct: #DCFCE7;
    --forest_day: #0CB981;
    --forest_night: #057858;
    --noir: #000000;
    --calque: rgb(0, 0, 0, 0.5);
    --calque_clair: rgb(0, 0, 0, 0.3);
    --night: #1F2937;
    --dark_grey: #676E77;
    --light_grey: #E6E7E9;
    --bg_grey: #F3F4F6;
    --bouton_rouge: #DB2727;
    --faux: #FFE2E2;
}

nav, section {
    display: flex;
    padding: 2vh 3vw;
}

nav {
    justify-content: space-between;
    background-color: var(--forest_night);
}

#menu_header a {
    margin-right: 20px;
}