* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanc: #FFFFFF;
    --pomme: #E2FCEF;
    --pomme_granny: #EDFEF6;
    --correct: #DCFCE7;
    --forest_day: #0CB981;
    --forest_night: #057858;
    --noir: #000000;
    --calque: rgb(0, 0, 0, 0.5);
    --calque_clair: rgb(0, 0, 0, 0.3);
    --night: #1F2937;
    --dark_grey: #676E77;
    --light_grey: #E6E7E9;
    --bg_grey: #F3F4F6;
    --bouton_rouge: #DB2727;
    --faux: #FFE2E2;
}

body {
    font-family: "Inter", serif;
}

nav, section, footer {
    display: flex;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin: 10vh 0;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 2vh 0;
}

/* HEADER */

nav {
    justify-content: space-between;
    background-color: var(--forest_night);
    align-items: center;
    padding: 2vh 3vw;
}

#menu_header {
    display: flex;
    align-items: center;
}

#menu_header a {
    margin-right: 20px;
    color: var(--blanc);
    text-decoration: none;
}

#donate {
    display: flex;
    padding: 10px;
    background-color: var(--bouton_rouge);
    color: var(--blanc);
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    align-items: center;
}

#donate img {
    margin-right: 5px;
}

#hero {
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 85vh;
    background-image: url(img_header.webp);
    background-position: center;
    background-size: cover;
}

#calque_bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--calque);
}

#textbox_hero {
    position: absolute;
    z-index: 2;
    color: var(--blanc);
    text-align: center;
}

#textbox_hero h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 2vh 0;
}

#textbox_hero p {
    font-size: 20px;
    font-weight: 500;
} 

/* MAIN */
/* Section "Faites un don" */

#faire_un_don {
    flex-direction: column;
}

#don_box {
    width: 70vw;
    margin: 0 auto 10vh;
    padding: 1vh 2vw;
    box-shadow: 0 4px 4px var(--calque_clair);
    border-radius: 10px;
}

#choix_prix, #choix_paiement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Boites des choix des prix */

.prix_don {
    border: solid var(--light_grey) 2px;
    border-radius: 10px;
    max-width: 30%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 1vh;
}

.prix_don p:first-child {
    margin: 2vh 0;
}

.desc_don {
    font-weight: 500;
    font-size: 14px;
    color: var(--dark_grey);
    margin: 2vh 0;
}

/* Boutons des choix des modes de paiements */

#choix_paiement {
    justify-content: center;
    gap: 2vh;
}

.paiement {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: var(--bg_grey);
    height: 7vh;
    font-size: 14px;
    text-align: center;
    margin: 5vh 0;
    padding: 2vh 4vh;
}

/* Boutons de récap du don (link avec JS)*/

#donate_big {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--bouton_rouge);
    color: var(--blanc);
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    width: 95%;
    margin: 0 auto 5vh;
}

#donate_big img {
    margin-right: 5px;
}

/* Section "Notre mission" */

#notre_mission {
    background-color: var(--pomme);
    padding: 10vh 3vw;
}

#box_img_text {
    display: flex;
    width: 94vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--calque_clair);
}

#box_img_text img {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    object-position: center;
}

#nm_box_text {
    background-color: var(--blanc);
    padding: 0 2vw;
    border-radius: 0 10px 10px 0;
}

#nm_box_text h2 {
    text-align: left;
    margin-bottom: 5vh;
}

#nm_box_text p {
    color: var(--dark_grey);
    font-size: 16px;
    font-weight: 500;
}

/* Section "Histoire de réussite" */

#reussite {
    flex-direction: column;
    align-items: center;
}

#reussite h3 {
    font-size: 25px;
}

#div_principale, #div_secondaire {
    display: flex;
    width: 94vw;
    margin: 0 auto;
    color: var(--blanc);
}

/* Zone principale du slider */

#div_principale {
    flex-direction: column;
    justify-content: flex-end;
    padding: 4vh;
    border: none;
    border-radius: 10px;
    min-height: 65vh;
    background-image: url(img_de_Luna_chien.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -80px 100px var(--night);
}

#slider_desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1vh;
}

#slider_legend {
    color: var(--light_grey);
    font-style: italic;
    font-size: 12;
}


/* Zone secondaire du slider */

#div_secondaire {
    justify-content: space-between;
    margin-bottom: 10vh;
}

.slider_preview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    min-height: 20vh;
    width: 32%;
    border: none;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#slider_preview1 {
    background-image: url(img_de_Luna_chien.webp);
    border: solid 3px var(--forest_day);
}

#slider_preview2 {
    background-image: url(img_de_Oscar_chat.webp);
}

#slider_preview3 {
    background-image: url(img_de_Max_chien.webp);
}

/* Section "Testez Vos Connaissances"*/
#quiz {
    flex-direction: column;
    background-color: var(--pomme_granny);
}

.question {
    width: 70vw;
    margin: 0 auto;
    background-color: var(--blanc);
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--calque_clair);
    padding: 2vh;
    margin-bottom: 5vh;
}

.reponse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.vrai, .faux {
    display: flex;
    align-items: center;
    padding: 2vh;
    width: 49%;
    min-height: 10vh;
    border-radius: 10px;
    background-color: var(--bg_grey);
}

/* Section "Notre Impact"*/

#impact {
    flex-direction: column;
    background-color: var(--pomme_granny);
}

#impact_number {
    display: flex;
    width: 94vw;
    margin: 0 auto 10vh;
    justify-content: space-between;
}

.impact_numbers {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    width: 30%;
}

.impact_numbers img {
    height: 60px;
    width: 60px;
    margin-bottom: 2vh;
}

.impact_numbers p:nth-child(2){
    font-size: 20px;
    font-weight: 700;
}

.impact_numbers p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_grey);
}

/* Section "Témoignages"*/

#temoignages {
    flex-direction: column;
}

#temoignages_box {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    max-height: 50vh;
    margin: 0 auto 10vh auto;
}

.temoignage {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--calque_clair);
}

.temoignage img {
    object-fit: cover;
    max-height: 182px;
    border-radius: 10px 10px 0 0;
}

.tem_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    border-radius: 0 0 10px 10px;
}

.tem_desc p:first-child {
    margin-bottom: 2vh;
}

.tem_citation {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_grey);
}

.tem_location {
    font-size: 20px;
    font-weight: 700;
}

/* FOOTER*/

footer {
    background-color: var(--night);
    padding: 2.5vh 0;
}

#menu_footer {
    display: flex;
    width: 94vw;
    margin: 0 auto;
    gap: 10vw;
    color: var(--blanc);
}

#menu_footer h3 {
    font-weight: 700;
}

#menu_footer p {
    font-weight: 400;
    font-size: 14px;
}

.menus_footer {
    width: 30%;
}

#mail_box {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

#mail_box img {
    max-height: 23px;
    max-width: 23px;
}