* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanc: #FFFFFF;
    --pomme: #E2FCEF;
    --pomme_granny: #EDFEF6;
    --correct: #DCFCE7;
    --forest_day: #0CB981;
    --forest_night: #057858;
    --noir: #000000;
    --calque: rgb(0, 0, 0, 0.5);
    --calque_clair: rgb(0, 0, 0, 0.3);
    --night: #1F2937;
    --dark_grey: #676E77;
    --light_grey: #E6E7E9;
    --bg_grey: #F3F4F6;
    --bouton_rouge: #DB2727;
    --faux: #FFE2E2;
}

body {
    font-family: "Inter", serif;
}

nav, section {
    display: flex;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin: 10vh 0;
}

/* HEADER */

nav {
    justify-content: space-between;
    background-color: var(--forest_night);
    align-items: center;
    padding: 2vh 3vw;
}

#menu_header {
    display: flex;
    align-items: center;
}

#menu_header a {
    margin-right: 20px;
    color: var(--blanc);
    text-decoration: none;
}

#donate {
    display: flex;
    padding: 10px;
    background-color: var(--bouton_rouge);
    color: var(--blanc);
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    align-items: center;
}

#donate img {
    margin-right: 5px;
}

#hero {
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 85vh;
    background-image: url(img_header.webp);
    background-position: center;
    background-size: cover;
}

#calque_bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--calque);
}

#textbox_hero {
    position: absolute;
    z-index: 2;
    color: var(--blanc);
    text-align: center;
}

#textbox_hero h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 2vh 0;
}

#textbox_hero p {
    font-size: 20px;
    font-weight: 500;
} 

/* MAIN */
/* Section "Faites un don" */

#faire_un_don {
    flex-direction: column;
}

#don_box {
    width: 70vw;
    margin: 0 auto 10vh;
    padding: 1vh 2vw;
    box-shadow: 0 4px 4px var(--calque_clair);
    border-radius: 10px;
}

#choix_prix, #choix_paiement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Boites des choix des prix */

.prix_don {
    border: solid var(--light_grey) 2px;
    border-radius: 10px;
    max-width: 30%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 1vh;
}

.prix_don p:first-child {
    margin: 2vh 0;
}

.desc_don {
    font-weight: 500;
    font-size: 14px;
    color: var(--dark_grey);
    margin: 2vh 0;
}

/* Boutons des choix des modes de paiements */

#choix_paiement {
    justify-content: center;
    gap: 2vh;
}

.paiement {
    border: none;
    border-radius: 10px;
    background-color: var(--bg_grey);
    font-size: 14px;
    text-align: center;
    margin: 5vh 0;
    padding: 2vh 4vh;
}

/* Boutons de récap du don (link avec JS)*/

#donate_big {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--bouton_rouge);
    color: var(--blanc);
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    width: 95%;
    margin: 0 auto 5vh;
}

#donate_big img {
    margin-right: 5px;
}
